
.navbar {
	background-color: #174D80;
}

a.navbar-brand.iccsw-brand {
	font-family: 'Khula', sans-serif;
	font-weight: 700;
	color:white;
	/*font-weight: ;*/
	font-size: 28px;
	margin-top: -1px;
}
table {
	width: 100%;
}
span.iccsw-name {
	font-family: 'Khula', sans-serif;
	font-weight: 600;
}
span.iccsw-num {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
span.iccsw-brand-num {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 28px;
	/*display: inline-block;*/
	/*background-color: white;*/
	/*height: 23px;*/
	/*padding: 6px 0px 0px 0px;*/
	margin-left: 1px;
	/*color: gray;*/
	/*color: #174D80;*/
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #103050;
}

.navbar-collapse.nav-collapse > ul > li > a {
	  color: #fff;
		font-weight: 500;
}

.navbar-inverse
{
    border-width: 0px;
}

.navbar-collapse.nav-collapse > ul > li > a:hover,
.navbar-collapse.nav-collapse > ul > li > a:focus {
  color: #fff;
  background-color: #1577D9;
}

.jumbotron .extrabig {
	font-size: 40px;
	font-weight: bold;
}
