extends layout

block subhead
  .jumbotron
    .row

      .col-md-12
        h1.extrabig 2018 Imperial College Computing Student Workshop
        p.lead September 20-21, 2018 London, United Kingdom

block content
  .node!= page.html
